In [2]:
import pandas as pd
import os

# Create data folder if not exists
os.makedirs("data", exist_ok=True)

# URL of Titanic dataset from GitHub
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

# Load dataset
df = pd.read_csv(url)

# Save to local 'data' folder
df.to_csv("data/titanic.csv", index=False)

print("Dataset saved locally as data/titanic.csv")

Dataset saved locally as data/titanic.csv

In [4]:
# Check saved file
df_local = pd.read_csv("/Users/aryan/Titanic_Survival/data/titanic.csv")
print(df_local.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [5]:
import pandas as pd 
import os
import sklearn.model_selection as model_selection
# Create data folder if not exists
os.makedirs("data", exist_ok=True)

In [7]:
#Data Frame 
import pandas as pd
from sklearn.model_selection import train_test_split
import os
# Select columns, clean, and encode
df = df[['Survived', 'Sex', 'Age', 'Pclass']].dropna()
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

# Split data 30% test, 70% train
X_train, X_test, y_train, y_test = train_test_split(
    df[['Sex', 'Age', 'Pclass']], df['Survived'], test_size=0.3, random_state=42
)

# Save train/test CSVs
pd.concat([X_train, y_train], axis=1).to_csv("data/train.csv", index=False)
pd.concat([X_test, y_test], axis=1).to_csv("data/test.csv", index=False)

print("Train and Test CSV files created in data/ folder")

Train and Test CSV files created in data/ folder

In [ ]:
import sklearn.model_selection as StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

TypeError: 'module' object is not callable